head{
      padding: 0px 0px 5px 0px;
}

body{
      padding: 0px 107px 18px 121px;
      background-color:rgba(160, 247, 160, 0.09);
}

a{
  text-decoration:none;
}

a:hover{
  color:black;
  text-shadow: 2px 2px rgba(0,0,0, .5);
}

.header{
  text-align: left;
  background-color:lightgrey;
  padding: 25px 130px;
  height: 30%;
  margin: -1% -8% 0% -9%;
  border-bottom: 2px solid black;
}

.background{
  opacity: 0.05;
  position: absolute;
  top: 300px;
  left: 435px;
}

.background-color{
  opacity: 0.07;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Beginning{
  text-align: center;
  padding: 30px 30px 115px 30px;
  width: 60%;
  position: relative;
  left: 210px;
}

.top{
  display: inline-block;
}

.home_image1{
  top: -721px;
  float: right;
  margin-right: auto;
  padding: 28px 4px 65px 27px;
  text-align: center;
}

.home_image2{
  top: 122px;
  float: left;
  padding: 5px 2px 2px 6px;
  clear: both;
  text-align: center;
  position: relative;
}

.Garfield{
  text-align: center;
  padding: 0px 15px 0px 15px;
  font-family: 'Indie Flower', cursive;
}

.aboutus{
  padding: 30px 79px 30px;
  font-family: 'Indie Flower', cursive;
}


.nav_links{
  text-align: right;
  float: right;
  padding: 13px 30px 0px 50px;
  transition-property: width, height, background-color;
  transition-duration: 1s;
}


.word_container{
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  top: -430px;
}

.Paragraphs{
  max-width: 50%;
  padding: 10px 0px 14px 30px;
  text-align: center;
  background-color: grey;
  display: inline-block;
  float: left;
}

.mission_para{
  display: inline-block;
  position: relative;
  top: 150px;
  width: 685px;
  left: 60px;
}

.aboutus_para{
  display: inline-block;
  position: relative;
  top: 190px;
  width: 685px;
  left: 269px;
  text-align: center;
}

.hm_list{
  width: 46%;
  display: inline-block;
  background-color: lightgrey;
}
